/*
|*************************************************************************;
* ScriptName    : Global Root for CSS 
* ScriptPath    : /css/master.css
|*************************************************************************;
*/

	@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
	@import url('https://fonts.googleapis.com/css?family=Squada+One&amp;display=swap');

/*
|*************************************************************************;
* Stylesheets Imports
|*************************************************************************;
*/

	@import url("assets-interfaces/interface.css");
	@import url("css-sort/sort.css");

/*
|*************************************************************************;
* Stylesheets Global Var
|*************************************************************************;
*/

:root {
	/* Font Imports */
	--main-font-VT323: "VT323", monospace;
	--main-font-Squada: 'Squada One', cursive;

	/* Cursor Setting */
	--main-cursor-default: default;
	--main-cursor-grab: grab;
	--main-cursor-grabbing: grabbing;
	--main-cursor-pointer: pointer;
	--main-cursor-text: text;

	/* Text Settings */
	--main-text-shadow: 0px 0px 4px rgb(0, 0, 0);

	/* Default Box Shadow */
	--webkit-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	--moz-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	--box-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

	--background: #111;
	--red: #f44336;
	--red-hover: #b72015;

/*
|*************************************************************************;
* Box Properties 
|*************************************************************************;
*/

	/* Default Box Shadow */
	--webkit-boxshadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	--moz-boxshadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	--box-boxshadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

	/* Red Box Shadow */
	--webkit-boxshadow-red: inset 0px 13px 17px -13px rgba(214,0,0,1);
	--moz-boxshadow-red: inset 0px 13px 17px -13px rgba(214,0,0,1);
	--box-boxshadow-red: inset 0px 13px 17px -13px rgba(214,0,0,1);

	/* Border Properties */
	--border-radius-none:0rem;
	--border-radius-3:3px;
}

/*
|*************************************************************************;
* Page Properties 
|*************************************************************************;
*/

	::-webkit-scrollbar {
	width: 7px;
	}
	::-webkit-scrollbar-thumb {
	border-radius: 7px;
	background-color: rgba(255, 0, 0, 0.425);
	}
	::-webkit-scrollbar-track {
	background-color: transparent;
	}


